<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data android:name="io.sentry.auto-init" android:value="false" />

        <provider
                android:authorities="${applicationId}.providers.SentryProvider"
                android:name="eu.codlab.sentry.wrapper.SentryProvider"
                android:enabled="true"
                android:exported="false" />
    </application>
</manifest> 